@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 98, 255);
}

@media(max-width:800px) {
    body {
        flex-direction: column;
    }
}

.empty {
    cursor: pointer;
    background-color: wheat;
    width: 200px;
    height: 200px;
    border: 4px solid black;
    margin: 5px;
}

.fill {
    background: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg");
    background-size: cover;
    background-position: center center;
    height: 193px;
    width: 193px;
}

.hold {
    border: solid 5px wheat;
}

.hovered {
    background-color: #333;
    border-color: wheat;
    border-style: dashed;
}